<html>
  <head>
    <style id="stndz-style"></style>
    <link rel="stylesheet" href="/asset/css/formstyle.css" />
  </head>
  <body data-new-gr-c-s-check-loaded="14.1062.0" data-gr-ext-installed="">
    <div class="formContent">
      <div class="lineRow">
        <label class="labelTitle" for="labelTitle">First Name:</label>
        <%= data.fName %>
      </div>
      <div class="lineRow">
        <label class="labelTitle" for="lName">Last Name: </label> <%= data.lName
        %>
      </div>
      <div class="lineRow">
        <label class="labelTitle" for="address">Address: </label> <%=
        data.address %>
      </div>
      <div class="lineRow">
        <label class="labelTitle" for="phone">Phone: </label> <%= data.phone %>
      </div>
      <div class="lineRow">
        <label class="labelTitle" for="email">E-mail: </label> <%= data.email %>
      </div>
      <div class="lineRow">
        <label class="labelTitle" for="flex_rowg10">Gender: </label> <%=
        data.radiogender %>
      </div>
      <div class="lineRow">
        <label class="labelTitle" for="country">Country:</label><%=
        data.countrySelect %>
      </div>
      <div class="lineRow">
        <label for="checkboxsection" class="labelTitle"> Interests: </label><%=
        data.checkBx %>
      </div>
    </div>
  </body>
</html>
